
@{
    Layout = "_AdminLayout";
}
@model List<Category>

<div class="container">
    <div class="col-12">
        <h1>Categories</h1>
        <div><a href="/admin/category/create" class="mx-1 btn btn-sm btn-outline-warning">Create</a></div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th></th>
                    <th>Title</th>
                    <th>Url</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @if(item.Image != null)
                            {
                                <img src="@item.Image.Url" title="@item.Title" class="img-responsive" style="width: 200px"/>
                            }
                        </td>

                        <td>@item.Title</td>
                        <td>@item.Url</td>
                        <td>
                            <div class="d-flex">
                                <a href="/admin/category/edit/@item.Id" class="mx-1 btn btn-sm btn-outline-warning">Edit</a>
                             @*    <form method="post" action="/admin/category/delete/@item.Id">
                                    <button class="mx-1 btn btn-sm btn-outline-warning delete-cat" type="submit">Delete</button>
                                </form> *@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        // $(document).on("click", 'button.delete-cat', function (e) {
        //     let id = $(e.target).data("id")
        //     Swal.fire({
        //         title: 'Are you sure you want to delete this marker with ID: ?' + id,
        //         text: "You won't be able to revert this!",
        //         icon: 'warning',
        //         showCancelButton: true,
        //         confirmButtonColor: '#3085d6',
        //         cancelButtonColor: '#d33',
        //         confirmButtonText: 'Yes, delete it!'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             fetch(`/admin/category/delete/${id}`, {
        //                 method: "POST"
        //             }).then(r => r.json())
        //                 .then(data => {
        //                     Swal.fire(
        //                         'Deleted!',
        //                         'Your file has been deleted.',
        //                         'success'
        //                     ).then(() => {
        //                         window.location.reload()
        //                     })
        //                 })

        //         }
        //     })
        // })

    </script>
}